[submodule ".registry"]
	path = .registry
	url = https://github.com/luomus/universe
	shallow = true
	branch = HEAD
[submodule "finbif"]
	path = finbif
	url = https://github.com/luomus/finbif
	shallow = true
	branch = dev
	registered = true
