[submodule ".registry"]
	path = .registry
	url = https://github.com/luomus/luomus.r-universe.dev
	branch = HEAD
[submodule "finbif"]
	path = finbif
	url = https://github.com/luomus/finbif
	branch = dev
[submodule "fgc"]
	path = fgc
	url = https://github.com/luomus/finbif-geo-convert
	branch = dev
